<div class="customize">
  <%= link_to main_app.customize_product_path+"#/"+@product.permalink, :class => "button" do %>
      Customise this dress <!-- TODO -< %= t(:customize) %>  -->
  <% end %>

</div>